
      
<div class="container">

<h1><a href="http://www.corsectactical.com/register.html" class="newsflash">Upcoming SDA/ Handgun Carry Course: 8 April</a></h1>

	<div class="img.center"><img alt="Square Bay" src="images/squarebay.jpeg" width="420" />

	</div>

<input type="button" onclick="return toggleMe('para1')" value="Details">&nbsp
<b>Oklahoma SDA / Handgun Carry Course</b>
<p id="para1" style='display:none'>
&nbsp; Fulfills requirements in order to file for an Oklahoma Handgun Carry permit under the Oklahoma Self-Defense Act
&nbsp; Course Length: 8 Hours
&nbsp; Course Cost: $60 ($40 for training, $20 for lunch and dinner)
&nbsp; Prerequisites: none
&nbsp; Required Equipment: Pistol (.45 Caliber or smaller), Holster (optional, but highly recommended), (2) Magazines (optional, but highly recommended), Factory Ammo - 50 Rounds (must be factory ammo), notepad, pen/pencil, Eye and Ear Protection, closed toe shoes, long pants
&nbsp; Course Location will be emailed out prior to the course to all registered students.
<!--&nbsp Courses conducted at Corsec Tactial Range Alpha --> &nbsp; Next Course Date: 8 April 2017 <a class="bodylink" href="mailto:info@corsectactical.com" target="_top"> </a><b><a class="newsflash" href="http://www.corsectactical.com/register.html">Signup Now!</a></b> Contact us for additional course dates
&nbsp; Please contact <a class="bodylink" href="mailto:info@corsectactical.com" target="_top"> info@corsectactical.com</a> to preregister.
</p>

<input type="button" onclick="return toggleMe('para2')" value="Details">&nbsp
<b>Handgun Familiarization Course</b>
<p id="para2" style='display:none'>
&nbsp; Designed for beginning shooters in order to build solid fundamentals in safety, weapon manipulation, and accuracy. The Course begins with a thourough review of safe gun handling procedures, then covers manipulation including loading, unloading, reloading, malfunction procedures. The accuracy portion covers stance, sight alighment/sight picture, grip, and proper trigger control.
&nbsp; Prerequisite: None
&nbsp; Required Equipment: Semi-Automatic Handgun, 100 rounds, 2 or more magazines, closed toed shoes, long pants, holster
&nbsp; Optional Equipment: Eye and ear Protection (Required on range, loaner equipment available)
&nbsp; Course Length: 4 Hours
&nbsp; $50 per student. 
&nbsp; Courses conducted at Corsec Tactial Range Alpha
&nbsp; Please contact <a class="bodylink" href="mailto:info@corsectactical.com" target="_top"> info@corsectactical.com</a> for course dates
</p>

<input type="button" onclick="return toggleMe('para3')" value="Details">&nbsp
<b>Basic Tactical Pistol Course</b>
<p id="para3" style='display:none'>
&nbsp; Designed as a follow on course for the Handgun Familiarization Course, this course will increase shooter proficiency and delve deeper into advanced techniques for weapon presentation, weapon manipulation, and tactical considerations.
&nbsp; Course Length: 6 - 8 hours
&nbsp; Required Equipment: Semi-Automatic Handgun, 200 rounds, 2 or more magazines, closed toed shoes, long pants, holster
&nbsp; Courses conducted at Corsec Tactial Range Alpha
&nbsp; $125 per student. 
&nbsp; For group discounts, contact <a class="bodylink" href="mailto:info@corsectactical.com" target="_top"> info@corsectactical.com</a>
<!--&nbsp <b>To sign up for the 3 May 2014 NRA Basic Pistol course download the <a href="/Downloads/3May14_Signup.pdf" class="bodylink" target="_top">Signup Sheet</a>.</b>--> &nbsp; <a class="bodylink" href="mailto:info@corsectactical.com" target="_top"> Contact us</a> for additional course dates
</p>

<input type="button" onclick="return toggleMe('para4')" value="Details">&nbsp
<b>Advanced Tactical Pistol Course</b>
<p id="para4" style='display:none'>
&nbsp; Follow on course for Basic Tactical Pistol course, this course will challenge shooters to improve their craft. Includes Shooting on the move, off hand shooting, fighting while wounded, and more.
&nbsp; Course Length: 16 hours
&nbsp; Required Equipment: Semi-Automatic Handgun, 500 rounds, 2 or more magazines, closed toed shoes, long pants, holster
&nbsp; Courses conducted at Corsec Tactial Range Alpha
&nbsp; $250 per student. 
&nbsp; Please contact <a class="bodylink" href="mailto:info@corsectactical.com" target="_top"> info@corsectactical.com</a> for course dates
</p>

<!--
<input type="button" onclick="return toggleMe('para5')" value="Details">&nbsp
<b>Ladies Only Pistol Courses</b>
<p id="para5" style='display:none'>
&nbsp Ladies only courses recieve the same high quality marksmanship and fundamentals training in an environment specifically designed for ladies. Includes special considerations for security.
&nbsp Prerequisites: Sames as above equivalent
&nbsp Required Equipment: Same as above equivalent
&nbsp Optional Equipment: Same as above equivalent
&nbsp Course Length: Same as above equivalent
&nbsp Courses conducted at Corsec Tactial Range Alpha
&nbsp Please contact <a href="mailto:info@corsectactical.com" class="bodylink" target="_top"> 
      info@corsectactical.com</a> for course dates
      </p>
      
      -->
      
Final course dates are subject to change based on weather and participation.
Prices subject to change without notice.
	</div>
</div>

<div class="footer">Copyright &copy; corsectactical.com &nbsp; <a class="bodylink" href="mailto:info@corsectactical.com" target="_top"> info@corsectactical.com</a>
</div>
</div>