<h1>
  <a href="http://www.corsectactical.com/register.html" class="newsflash">Upcoming SDA/ Handgun Carry Course: 8 April</a>
</h1>

<img src="http://www.americanspecialops.com/images/photos/meu-soc/force-recon-range.jpg" alt="Close Quarters Battle Training"
  height="300">
<div class="text-center">

  <p>About Corsec Tactical:</p>
  <p>Corsec Tactical is founded by Reconnaissance Marines with over twenty years of combined experience in special operations.
    Corsec Tactical is committed to providing quality and professional training in all aspects of self defense. Our Oklahoma
    Concealed Carry Course features all required training to fulfill SDA requirements in Oklahoma. </p>
  <p>It is our mission to train, instruct, and educate all students who participate in our courses to the highest standards
    of weapons proficiency. From beginners to seasoned shooters we are passionate about you achieving your desired outcomes.
    </p>
  <p>Through professional pride, integrity, and teamwork, Corsec Tactical strives to provide training that increases your confidence,
    comfort level, and proficiency in order for you to be prepared for any situation.</p>

  <div class="footer">
    Copyright &copy; corsectactical.com&nbsp;
    <a href="mailto:info@corsectactical.com" class="bodylink" target="_top">
      info@corsectactical.com</a>
  </div>
